<hr/>
<center><h1>balabolka: (n). person who talks incessantly</h1></center>
<hr/>

<h3>Every website should have chat!</h3>
<p>
    Your visitors don't deserve to live in social isolation! You can improve website and user interaction just be having a simple chat box. This allows users to interact with each other and your website in new ways.
</p>
<p>
    Balabolka makes it <strong>super</strong> easy to add this feature to your website without worry. Just add a these lines to your page and you are set!
</p>
<p>
    <pre class="lang-javascript prettyprint">
&lt;link rel="stylesheet" href="//{{hostname}}/css/chat.css"/&gt;
&lt;script src="//{{hostname}}/js/chat.js"&gt;&lt;/script&gt;
</pre>
</p>

<h3>How it works</h3>
<p>
    Any users to your site will be presented with a chat dialog like the one seen below. They will be assigned a random name and be able to chat immediately with other users on the site.
</p>
<p>
    The chat messages are all routed through out servers and you don't need to worry about managing the user connections or client side code.
</p>

<h3>Customize</h3>
<p>
    You can customize the chat window for your site. Just provide your own stylesheet with the following styles after our chat.css:
    <dl>
        <dt>balabolka-window</dt>
        <dd>the chat window</dd>
        <dt>balabolka-title</dt>
        <dd>chat title</dd>
        <dt>balabolka-messages</dt>
        <dd>messages window</dd>
        <dt>balabolka-message</dt>
        <dd>single chat message</dd>
    </dl>
</p>
