
.balabolka-window {
    width: 300px;
    border: 0;
    position: fixed;
    bottom: 0;
    left: 40px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333;

    .balabolka-title {
        border-radius: 3px 3px 0 0;
        background-color: #333;
        padding: 4px;
        font-size: 15px;
        color: white;
        cursor: pointer;
        font-weight: bold;

        &:hover {
            height: 20px;
        }
    }

    .balabolka-title-alert {
        color: #08c;
    }

    .balabolka-body {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        background-color: white;
    }

    .balabolka-messages {
        height: 250px;
        overflow-y: auto;
    }

    .balabolka-message {
        padding: 2px;
    }

    .balabolka-emoticon {
        width: 15px;
        height: 15px;
        vertical-align:top;
        display: inline-block;

        background-position-x: 0px;
        background-position-y: 0px;
        background-repeat: no-repeat;

        &.smile {
            background: url('/img/icon_smile.gif');
        }

        &.sad {
            background: url('/img/icon_sad.gif');
        }

        &.wink {
            background: url('/img/icon_wink.gif');
        }

        &.grin {
            background: url('/img/icon_biggrin.gif');
        }

        &.eek {
            background: url('/img/icon_surprised.gif');
        }

        &.shock {
            background: url('/img/icon_eek.gif');
        }

        &.cool {
            background: url('/img/icon_cool.gif');
        }

        &.mad {
            background: url('/img/icon_mad.gif');
        }

        &.razz {
            background: url('/img/icon_razz.gif');
        }

        &.neutral {
            background: url('/img/icon_neutral.gif');
        }
    }

    hr {
        margin: 0;
        padding: 0;
        border: 0;
        border-top: 1px solid #EEE;
        border-bottom: 1px solid white;
    }

    form {
        padding: 0;
        margin: 0;
        border: 0;
    }

    input {
        border: 0;
        border-top: 1px solid #CCC;
        border-bottom: 1px solid #CCC;
        line-height: 18px;
        width: 100%;
        margin: 0;
        padding: 0;
        border-top: 1px solid #ddd;
        height: 22px;
        line-height: 22px;
        font-size: 15px;
    }
}

